# Løsningsforslag for oppgavene fra forelesning 6 og 7
Her finner dere et grovt løsningsforslag for oppgavene fra forelesning 6 og 7

# Oppgaver, forelesning 6:
For å svare på disse oppgavene må man laste inn dataene fra Titlon først.

## Titlon

I eksemplet over leser Pandas dataene fra en fiil, men Pandas kan også hente data direkte fra en database på nettet. Vi skal først se hvordan vi kan hente data fra `titlon.uit.no`. Dette er en database som inneholder informasjon om aksjer, derviater og obligasjoner handlet på [Oslo Børs Euronext](https://www.euronext.com/en/markets/oslo).  

Det første vi må gjøre er å hente en pakke som kan kommunisere med serveren. Vi skal bruke pymysql. Den er i utgangspunktet ikke installert her på uit's jupyter-server, så det må vi gjøre selv. Det gjør du slik:

Åpne konsollen og skriv `pip install pymysql`

For å hente data gjør du følgende:

På [https://titlon.uit.no/](https://titlon.uit.no/) ligger det børsinformasjon fra Oslo Børs. For å hente data fra Titlon gjør du følgende:

1. gå inn på [https://titlon.uit.no/](https://titlon.uit.no/) 
2. trykk på "Python"
3. logg inn (om du får en feilmelding etter innlogging følger du bare lenken over på nytt)
4. Kopierer teksten i tekstboksen
5. lim den inn under

In [ ]:
#Hent ut to andre selskap fra titlon, og plott dem med scatter()-funksjonen for å se om det 
#er en sammenheng mellom avkastningene.
import pandas as pd
#you may substitute pymysql for pymssql in the following TWO sentences if you prefer the MS SQL client:
import pymysql
con = pymysql.connect(host='titlon.uit.no', 
                               user="oaa011@uit.no", 
                               password="z%9K%Rbrw@1%6fYwBvN1F", 
                               database='OSE')  
crsr=con.cursor()
crsr.execute("SELECT * FROM equity WHERE Name='Equinor' ORDER BY Date")
r=crsr.fetchall()
df=pd.DataFrame(list(r), columns=[i[0] for i in crsr.description])
df

## Oppgavene

1. Hent ut to andre selskap fra titlon, og plott dem med `scatter()`-funksjonen for å se om det er en sammenheng mellom avkastningene.  

2. Én av `elif`-setningene i Eksempel 4 vil aldri bli tilfredsstilt, uansett hva du setter som `animal`. Hvorfor?

3. I eksempel 6, hva skjer om du fjerner `or edu>10` fra koden? Forklar.

4. Hent data for et annet selskap (valgfritt) fra titlon.uit.no, og velg to andre variabler enn i Eksempel 17, og plott dem mot hverandre.

5. Hent en tabell om strømpris i eurostat, og lag en tilsvarende graf som i Eksempel 32 for den. Gjør slik:
    1. Sjekk hvilke tabeller som er tilgjengelig med `toc[['Electricity' in i for i in toc['title']]]` og finn koden i feltet 'code' til tabellen "7143	Electricity prices for non-household consumers...". 
    2. Hent tabellen som har denne koden
    3. Gjør følgende filtrering:
    ```
    df=df[(df['tax']=='X_TAX')*
   (df['consom']=='4162906')*
   (df['currency']=='EUR')*
   (df!=0).all(axis=1)]
    ```
    4. Lag graf som i Eksempel 32. Velg selv hvilke land dy synes er viktige å utheve.

<b>Oppg 1:</b> Hent ut to andre selskap fra titlon, og plott dem med `scatter()`-funksjonen for å se om det er en sammenheng mellom avkastningene.

In [ ]:
#ser først hvilke selskaper som finnes
sql="SELECT distinct Name,ISIN,SecurityId,CompanyId FROM equity WHERE Year(Date)>2015 ORDER BY `Name`"
companies=pd.read_sql_query(sql, con)

list(companies.values[:,0])

In [ ]:
#vi velger scatec og sbanken
sql=("SELECT distinct Name,date, lnDeltaP FROM equity "
    "WHERE (Name='Sbanken' OR Name='Scatec') "
    "AND `Date`>'2000-01-01'"
    "ORDER BY `Date`")
df1 = pd.read_sql_query(sql, con)
df1

In [ ]:
#her kunne vi brukt seaborn siden det er på lengdeformat hvis vi ønsker å sammenligne over tid
import seaborn as sns
sns.scatterplot(data=df1, x="date", y="lnDeltaP", hue="Name")

In [ ]:
#vi velger å endre til "wide" format ved bruk av pivot og fjerner så nan-verdiene
df1 = df1.pivot(index="date", columns="Name", values='lnDeltaP')
df1 = df1.dropna()

In [ ]:
df1

In [ ]:
import matplotlib.pyplot as plt
# plotter selskapene mot hverandre, og ser at de er relativt like i avkastning
df1.plot.scatter("Sbanken", "Scatec")
plt.vlines(0, -0.15, 0.15, color="r")
plt.hlines(0, -0.15, 0.15, color="r")

In [ ]:
#Kunne brukt plot direkte hvis vi ønsket å se på dette over tid. Alpha satt til 0,8 for å kunne se overlapp
df1.plot(alpha=0.8)

<b> Oppg 2: </b> Én av `elif`-setningene i Eksempel 4 vil aldri bli tilfredsstilt, uansett hva du setter som `animal`. Hvorfor?

In [ ]:
animal='lion'

cats=['lion','tiger','puma','lynx']
mammals=['human','bear','cat','whale','mouse']+cats

if (animal in cats) & (animal in mammals):
    print(f"{animal} is a cat and a mammal")
elif (not animal in cats) & (animal in mammals): 
    print(f"{animal} is not a cat, but it is a mammal")
elif (animal in cats) and (not animal in mammals):#DENNE. Det er fordi alle cats er mammals
    print(f"{animal} is a cat, but not a mammal")   
else:
    print(f"{animal} is neither a cat nor a mammal")

<b> Oppg 3 </b> I eksempel 6, hva skjer om du fjerner `or edu>10` fra koden? Forklar.

In [ ]:
# Vi vil få færre land. Det er fordi vi tidligere hadde med land som ikke oppfylte første kriterie, men andre

<b> Oppg 4 </b> Hent data for et annet selskap (valgfritt) fra titlon.uit.no, og velg to andre variabler enn i Eksempel 17, og plott dem mot hverandre.

In [ ]:
#kopierer inn koden fra Titlon under, men bytter ut Equinor med Scatec

import pandas as pd
#you may substitute pymysql for pymssql in the following TWO sentences if you prefer the MS SQL client:
import pymysql
con = pymysql.connect(host='titlon.uit.no', 
                               user="oaa011@uit.no", 
                               password="sYBdtQF6G1UUk9K2ufBXc", 
                               database='OSE')  
crsr=con.cursor()
crsr.execute("SELECT * FROM equity WHERE Name='Scatec' ORDER BY Date")
r=crsr.fetchall()
df=pd.DataFrame(list(r), columns=[i[0] for i in crsr.description])
df

In [ ]:
#ser på kolonnene ved hjelp av "columns"
df.columns

In [ ]:
#velger ut variablene vi skal se på og setter index til date
df1 = df[["Date", "NumberOfShares", "UnofficialVolume"]]
df1 = df1.set_index("Date")

In [ ]:
df1.plot()



5. Hent en tabell om strømpris i eurostat, og lag en tilsvarende graf som i Eksempel 32 for den. Gjør slik:
    1. Sjekk hvilke tabeller som er tilgjengelig med `toc[['Electricity' in i for i in toc['title']]]` og finn koden i feltet 'code' til tabellen "7143	Electricity prices for non-household consumers...". 
    2. Hent tabellen som har denne koden
    3. Gjør følgende filtrering:
    ```
    df=df[(df['tax']=='X_TAX')*
   (df['consom']=='4162906')*
   (df['currency']=='EUR')*
   (df!=0).all(axis=1)]
    ```
    4. Lag graf som i Eksempel 32. Velg selv hvilke land dy synes er viktige å utheve.

In [ ]:
import eurostat
toc = eurostat.get_toc_df()
toc

In [ ]:
#A:skriver om koden for å finne den spesifikke tabellen. Her er koden "nrg_pc_205"
toc[['Electricity prices for non-household consumers' in i for i in toc['title']]]

In [ ]:
#B: henter denne tabellen
df = eurostat.get_data_df('nrg_pc_205')
df

In [ ]:
#C: gjør filtreringen
df=df[(df['tax']=='X_TAX')*
(df['consom']=='4162906')*
(df['currency']=='EUR')*
(df!=0).all(axis=1)]

In [ ]:
#dropper nan-verdier 
df = df.dropna()

In [ ]:
#velger ut de kolonnene vi ønsker

df = df.iloc[:, 5:]

In [ ]:
#endrer til navn på første kolonne
print(df.columns)
df.columns = ['country', '2022S1', '2021S2', '2021S1', '2020S2', '2020S1', '2019S2',
       '2019S1', '2018S2', '2018S1', '2017S2', '2017S1', '2016S2', '2016S1',
       '2015S2', '2015S1', '2014S2', '2014S1', '2013S2', '2013S1', '2012S2',
       '2012S1', '2011S2', '2011S1', '2010S2', '2010S1', '2009S2', '2009S1',
       '2008S2', '2008S1', '2007S2', '2007S1']
print(df.columns)

In [ ]:
# setter "country" til index
df = df.set_index("country")

In [ ]:
#bytter om på rader og akser
df = df.transpose()

In [ ]:
# sorterer indexen riktig, slik at årstall er stigende
df = df.sort_index()

In [ ]:
#D: lager grafen

ax=df.plot(alpha=0.3,figsize=(20, 10))
ax.legend(loc='upper left',frameon=False,ncol=4)

In [ ]:

def thick_line(symbol,ax):
    labels=[i._label for i in ax.lines]  #makes a list of symbols in the order of lines in the axis object
    i=labels.index(symbol)               #identifies at which position symbol is located
    ax.lines[i].set_linewidth(5)         #sets the line with of the line at position i to 5 
    ax.lines[i].set_alpha(1)             #removes transparancy of the line at position i to 5

In [ ]:
#ser hvilke land vi har
df.columns

In [ ]:
#velger tyskland og finland
thick_line('DE',ax)
thick_line('FI',ax)
ax.legend(loc='upper left',frameon=False,ncol=4)
ax.figure

# Oppgaver, forelesning 7

1. Du vil raskt oppdage et problem med koden i Eksempel 8. Aksjekursen kan bli negativ. Dette kan unngås ved å plotte *eksponenenten* av prosessen, i stedet. Dette kan du få til på følgende måte 
    1. Omdøp `y` i `y+= dy` til `lny`, og husk å gjør det samme øverst 
    2. Endre startverdien til lny øverst i koden fra 100 til 0.
    2. Eksponenten liker ikke store tall som argument, så fjern `40*` fra definisjonen av `dy` inne i while-løkken.
    2. definer en ny `y`som settes lik hundre ganger eksponenten til `lny`. Bruk `exp()`-funksjonen til numpy. 
3. Lag dynamiske aksjeintervall for y-aksen, slik at største aksjekurs alltid er minst ti prosent mer enn den simulerte kursen.
4. Lag dynamisk aksjeintervall for x-aksen, slik at når tiden passerer 20, så økes intervallet. La intervallet alltid være minst ti prosent lengre enn den simulerte tiden. 
2. Kommenter ut (sett `#` foran) hver av de siste linjene i Eksempel ??, én om gangen, og se hva som skjer.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.patches import Ellipse
from IPython.display import display, clear_output
x,lny,dy=0,0,0
fig, ax = plt.subplots(figsize=(20, 10))


ypath=[]
xpath=[]

while x<25:
    x+= 0.1
    lny+= dy
    dy=(np.random.rand()-0.5)
    y = 100*np.exp(lny)


    xpath.append(x)
    ypath.append(y)
    
    #placing the plot function inside the loop, ensures that it is plotted every iteration
    ax.plot(xpath,ypath,label='YARA')
    ax.legend(loc='upper left',frameon=False,fontsize=30)
    
    #making dot:
    c=Ellipse((x, y), 0.25,5, color='r')
    ax.add_patch(c)
    
    #making text:
    ax.text(x+0.1,y+3,f'NOK {np.round(y,1)}')
    
    #jupyter only shows the last statement by default, so we need to add this 
    #in order to plot at every iteration
    display(fig)
    
    #makes sure the plot and output are ereased each time:
    ax.cla()
    ax.set_ylim([0,np.max([200, np.max(ypath)*1.1])])
    ax.set_xlim([0, np.max([20, np.max(xpath)*1.1])])
    clear_output(wait = True)